* {
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
h1 {
  font-family: balboa-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: balboa-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: balboa-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: balboa-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: balboa-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3px;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  place-items: center;
}

#menu {
  display: flex;
  list-style: none;
  place-items: center;
}
.flexi {
  display: flex;
  list-style: none;
  justify-content: right;
}

#logo {
  width: 200px;
  padding: 20px;
}

.skiftfarvelogo {
  fill: #fd673a;
  cursor: pointer;
}
.skiftfarvelogo:hover {
  fill: white;
}

#section1 {
  box-shadow: rgb(0 0 0 / 50%) 0px -6px 6px -6px;
}

#section2 {
  background-color: #840489;
  height: 200px;
  padding: 20px 20px;
  box-shadow: rgb(0 0 0 / 50%) 0px -6px 6px -6px;
}

.textlængde {
  max-width: 60ch;
}

#splash {
  background-image: url("splash.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.splashvideo {
  height: 100vh;
  width: 100%;
  filter: blur(3px);
  filter: grayscale(1);
  filter: saturate(2.2);
}

.somelogo {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.ikoner {
  width: 60px;
}

.bekraeft_knap {
  background-color: #49024c;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 3px;
  font-family: balboa-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.footer-col2 {
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

header {
  background-color: #49024c;
}

.button {
  background-color: #fd673a;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 3px;
  font-family: balboa-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer {
  background-color: #fd673a;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 50%) 0px -6px 6px -6px;
}

@media (max-width: 600px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-col1 {
    text-align: center;
    padding-bottom: 10px;
  }

  .footer-col3 {
    text-align: center;
    padding-top: 10px;
  }
}
